.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.phones {
    background: url(https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png);
    height: 618px;
    width: 454px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.showing-class {
    transition: opacity 0.5ms ease;
    opacity: 1 !important
}

.screens div {
    position: absolute;
    z-index: 1;
    top: 99px;
    left: 150px;
    height: 429px;
    width: 241px;
    opacity: 0;
}

.phoneImg {
    position: absolute;
    min-width: 200px;
}


#sign-in-page-container {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border: 0 solid #888;
    border-radius: 20px;
    box-shadow: 3px 5px 25px #888;
    padding: 0 70px;
}

.sign-in-form input {
    border: 1px solid rgb(240, 236, 236);
    background-color:rgb(245, 244, 244);
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 5px;
}

.sign-in-form input[type=submit] {
    color: #fff;
    background: rgb(87, 187, 218);
    font-style: 16px;
    font-style: bold;
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer span {
    color: #888;
}